/hw
/tmp
/sample
/include/config.h
/include/stamp-h1
/depcomp
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/autoscan.log
/compile
/configure
/config.log
/config.status
/install-sh
/missing

*.o
.deps
.dirstamp
